@import "tailwindcss";

@theme {
    --animate-bounce-slow: bounce-slow 3s ease-in-out infinite;
    @keyframes bounce-slow {
        0%,
        100% {
            transform: translateY(-5%);
        }
        50% {
            transform: translateY(5%);
        }
    }
}
